# Ignore everything
*
# Allow specific directories inside app
!app/code/
!app/design/
!app/etc/
# Ignore everything inside app/etc
app/etc/*
# Allow only config.php inside app/etc
!app/etc/config.php
