<?xml version="1.0"?>
<!--
/**
* @copyright Copyright (c) 2024 Magebit, Ltd. (https://magebit.com/)
* @author    Magebit<info@magebit.com>
* @license   MIT
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">

    <menu>
        <add id="Magebit_Faq::faq"
             title="Frequently Asked Questions"
             translate="title"
             module="Magebit_Faq"
             sortOrder="100"
             action="faq/index/index"
             resource="Magebit_Faq::faq"
             parent="Magento_Backend::content_elements" />
    </menu>
</config>
