<?xml version="1.0"?>
<!--
/**
* @copyright Copyright (c) 2024 Magebit, Ltd. (https://magebit.com/)
* @author    Magebit<info@magebit.com>
* @license   MIT
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magebit_Faq" setup_version="1.0.0"/>
    <sequence>
        <module name="Magento_Backend" />
        <module name="Magento_Ui" />
    </sequence>
</config>
